/* =========== 992px =========== */
@media only screen and (min-width: 992px) {

	#header_banner header .header_nav {
		width: calc(100% - 580px);
	}

	#header_banner header .header_nav ul {
		padding: 0;
		margin: 0;
		float: right;
	}
}

/* =========== 991px =========== */
@media only screen and (max-width: 991px) {

	/* =========================================== Header & Banner Css =========================================== */
	#header_banner #banner {
		margin-top: 30px;
	}

	#header_banner #banner .banner_text_box .banner_text {
		margin-bottom: 0px;
		padding: 0;
	}

	#header_banner #banner .banner_text_box .banner_text .text {
		font-size: 40px;
	}

	#header_banner #banner .banner_text_box .banner_form {
		margin-top: 20px !important;
	}

	#header_banner header .header_logo .logo_img {
		max-width: 140px;
	}

	#header_banner header .header_logo .header_nav {
		display: inline-block;
		max-width: 343px;
		width: 100%;
	}

	#header_banner header .header_logo .header-btn {
		display: inline-block;
		max-width: 230px;
		width: 100%;
		text-align: right;
	}

	#header_banner header .header_logo .header-btn a {
		font-size: 16px;
		padding: 7px 20px;
		display: inline-block;
		line-height: normal;
	}

	/* =========================================== Testimonials Css =========================================== */
	#testimonials .vwt_content .vwtc_text .testimonials_content .tc_text {
		max-width: calc(100% - 260px);
	}

}

/* =========== 768px =========== */
@media only screen and (max-width: 767px) {

	/* =========================================== Header & Banner Css =========================================== */
	#header_banner {
		padding: 35px 0 30px;
	}

	#header_banner header .header_logo .logo_img,
	footer .footer_logo .flogo_img {
		max-width: 170px;
	}

	#header_banner header .header_logo .header-btn a {
		font-size: 16px;
		padding: 10px 16px;
	}

	#header_banner #banner .banner_text_box .banner_text .text {
		font-size: 35px;
		line-height: 44px;
	}

	#header_banner #banner .banner_form .form-group textarea {
		font-size: 16px;
		padding: 10px 15px;
		max-height: 260px;
	}

	#header_banner #banner .banner_form .form-group .btn {
		font-size: 18px;
		padding: 4px 30px;
		line-height: 30px;
	}

	#header_banner header .header_logo {
		justify-content: center !important;
	}

	#header_banner header .header_logo .header_nav {
		max-width: 100%;
		text-align: center;
	}

	#header_banner header .header_logo .header_nav ul {
		display: inline-block;
		margin: 20px 0;
		padding-left: 0;
	}

	#header_banner header .header_logo .header_nav ul li {
		margin-left: 8px;
	}

	#header_banner header .header_logo .header_nav ul li:first-child {
		margin-left: 0;
	}

	#header_banner header .header_logo .header-btn {
		text-align: center;
	}

	/* =========================================== Easy to Use Css =========================================== */
	#easy_to_use {
		padding: 35px 0;
	}

	#easy_to_use .etu_title {
		margin-bottom: 40px;
	}

	#easy_to_use .etu_box .etu_boxes {
		margin-bottom: 40px;
	}

	#easy_to_use .etu_box .etu_boxes:last-child {
		margin-bottom: 0px;
	}

	/* =========================================== Footer Css =========================================== */
	footer {
		padding: 30px 0;
	}

	footer .footer-social {
		margin-top: 10px;
	}

	footer .footer-social .fs_box {
		width: 30px;
		height: 30px;
		padding: 3px 0;
		margin-right: 6px;
	}

	footer .footer-social .fs_box:last-child {
		margin-right: 0;
	}

	footer .footer-social .fs_box a i {
		font-size: 16px;
	}
}

/* =========== 575px =========== */
@media only screen and (max-width: 575px) {

	/* =========================================== Testimonials Css =========================================== */
	#testimonials .vwt_content .vwtc_text .testimonials_content {
		flex-wrap: wrap;
	}

	#testimonials .vwt_content .vwtc_text .testimonials_content .tc_text {
		max-width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}

	/* =========================================== Mobile Store Css =========================================== */
	#mobile_store {
		margin-bottom: 4.4%;
	}

	#mobile_store .mobile_store_box:last-of-type {
		margin-top: 20px;
	}
}
