/* =========== 1199px =========== */
@media only screen and (max-width: 1199px) {
	/* =========== Private Css =========== */
}

/* =========== 1024px =========== */
@media only screen and (max-width: 1024px) {
	/* =========== Private Css =========== */
}

/* =========== 991px =========== */
@media only screen and (max-width: 991px) {

	/* =========== Review Page Css =========== */
	#expert .expert_content .expert_details .edc_reviews {
		column-count: 2;
	}
}

/* =========== 576px - 991px =========== */
@media only screen and (min-width: 576px) and (max-width: 991px) {
	/* =========== Private Css =========== */
}

/* =========== 768px - 991px =========== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* =========== Private Css =========== */
}

/* =========== 768px =========== */
@media only screen and (max-width: 767px) {

	/* =========== Review Page Css =========== */
	#expert .expert_content .expert_details .edc_reviews {
		column-count: 2;
	}
}

/* =========== 575px =========== */
@media only screen and (max-width: 575px) {

	/* =========== Private Css =========== */
	/* =========== Contact Page Css =========== */
	#expert .expert_content .contact_page .ed_form .ed_form_div .form_content.button button {
		max-width: 100%;
	}

	/* =========== Review Page Css =========== */
	#expert .expert_content .expert_details .edc_reviews {
		column-count: 1;
	}
}
