/* =========================================== Default Css =========================================== */
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	position: relative;
}

.container {
	max-width: 1300px !important;
}

img {
	float: left;
	width: 100%;
}

button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active,
input,
input:focus,
input:active,
a,
a:hover,
a:focus,
a:active {
	outline: none;
	box-shadow: none;
	text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	margin: 0;
}

.box_shadow_custom {
	-webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.05);
}

#contactus input {
	margin-bottom: 15px;
}

#contactus button {
	margin-top: 15px;
}
